<section class="customers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="find-contact">
                    <h1 class="hc-section-title display-4 text-center" style="font-weight:300 ">Employees from top
                        companies use HolaConnect</h1>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div id="carouselTicker" class="carouselTicker">
            <ul class="carouselTicker__list">
                <li class="carouselTicker__item">
                    <img src="/img/customer/accenture.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/facebook.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/google.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/ibm.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/mckinsey.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/microsoft.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/p%26g.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/salesforce.png" alt="banner image">
                </li>
                <li class="carouselTicker__item">
                    <img src="/img/customer/uber.png" alt="banner image">
                </li>
            </ul>
        </div>
    </div>
</section>
