
<section class="hc-footer hc-section hc-section-md-padding" id="contacts3-6"
         style="background-color: #171e2d; padding-top: 30px; padding-bottom: 30px;">
<div class="container">
    <div class="row">

        <div class="hc-company col-xs-12 col-md-6 col-lg-9">

            <div class="hc-company card">
                <div>
                    <img src="/img/logo.png" class="card-img-top">
                </div>
                <div class="card-block">
                    <p class="card-text">
                    <p class="card-text">Contact names and emails are user generated content, and might be not valid in many instances. If your number or email is in our database, most likely it is available somewhere publicly on internet, or some other user has agreed to share their contact book with us. However we respect individual privacy; to de-list your number or email from our platform please use the Opt-Out option, and we will work on it within 15 days. Read our complete privacy policy.



                </div>

            </div>

        </div>

        <div class="col-xs-12 col-md-6 col-lg-3 ">
            <div class="hc-social-likes" data-counters="false">
                    <span class="btn hc-btn-social facebook" title="Share link on Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </span>
                <span class="btn hc-btn-social facebook" title="Share link on Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </span>
                <span class="btn hc-btn-social facebook" title="Share link on LinkedIn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </span>


            </div>
        </div>


    </div>
</div>
</section>
<footer class="hc-small-footer hc-section hc-section-nopadding" id="footer1-2"
        style="background-color: #171e2d;    padding-top: 1.25rem;    padding-bottom: 0.75rem;    border-top: 1px solid #737373;">

    <div class="container">
        <span>
            <a  target="_blank" href="/" class="btn btn-footer-link">Home</a>
            <a target="_blank" href="/optout" class="btn btn-footer-link">Optout</a>
            <!--<a target="_blank" href="/pricing" class="btn btn-footer-link">Pricing</a>-->
            <a target="_blank" href="/privacy" class="btn btn-footer-link">Privacy/T&C</a>
            <!--<a target="_blank" href="/refund" class="btn btn-footer-link">Refund</a>-->
            <a target="_blank" href="/contact" class="btn btn-footer-link">Contact Us</a>
            <a href="#" class="btn btn-footer-link" style="color:#fff"> Copyright (c) 2017 HolaConnect</a>

        </span>
        <p class="text-xs-center"></p>
    </div>
</footer>