<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><p id="myModalLabel" class="modal-title"></p></strong>
            </div>
            <div class="modal-body">
                <div id="contactInfo">
                    <strong>Email</strong>
                    <div class="emails" style="margin-bottom: 20px"></div>

                    <strong>Phone</strong>
                    <div class="phone"></div>
                </div>
                <div id="getInfo">
                    <p>Please click below to continue</p>
                    <button id="getContact"  class="btn btn-primary">Get Info</button>
                </div>
            </div>
        </div>
    </div>
</div>