<section class="hc-section" id="testimonials1-5"
         style="background-color: rgb(255, 255, 255); ">
    <div class="hc-section hc-section__container hc-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="hc-section-title display-2">WHAT OUR FANTASTIC USERS SAY</h3>
                    <small class="hc-section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic labore omnis perferendis reiciendis totam voluptates. Aliquam eius eveniet explicabo.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="hc-testimonials hc-section hc-section-nopadding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="hc-testimonial card hc-testimonial-lg">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores beatae blanditiis culpa cupiditate deleniti distinctio eaque error est hic in itaque laboriosam officia pariatur praesentium quaerat, quasi ullam vero?”</p></div>
                        <div class="hc-author card-footer">
                            <div class="hc-author-img"><img src="img/face4.jpg" class="img-circle"></div>
                            <div class="hc-author-name">Alight Toe</div>
                            <small class="hc-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="hc-testimonial card hc-testimonial-lg">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores beatae blanditiis culpa cupiditate deleniti distinctio eaque error est hic in itaque laboriosam officia pariatur praesentium quaerat, quasi ullam vero consectetur adipisicing elit.  ? ”</p>
                        </div>
                        <div class="hc-author card-footer">
                            <div class="hc-author-img"><img src="img/face5.jpg" class="img-circle"></div>
                            <div class="hc-author-name">Mafia Hailk</div>
                            <small class="hc-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="hc-testimonial card hc-testimonial-lg">
                        <div class="card-block"><p>“Quaerat, quasi ullam vero consectetur adipisicing elit. Aliquid asperiores beatae blanditiis culpa cupiditate deleniti distinctio eaque error est hic in itaque laboriosa. ullam vero consectetur adipisicing elit.”</p></div>
                        <div class="hc-author card-footer">
                            <div class="hc-author-img"><img src="img/face6.jpg" class="img-circle"></div>
                            <div class="hc-author-name">Ashy Rages</div>
                            <small class="hc-author-desc">User</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>