<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
<!-- -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css">
<link rel="stylesheet" href="/vendor/css/carouselTicker.min.css">
<link rel="stylesheet" href="/vendor/css/theme.min.css">
<link rel="stylesheet" href="/vendor/css/hc-additional.min.css">
<body>
{{>navbar}}
<div id="hola-page">

    <section class="hc-section" style="padding-top:180px">
        <div class="container">
            <div class="card-title">
                <h2>HolaConnect for Business</h2>
            </div>
            <div class="card">

                <div class="card-block">
                    <p>HolaConnect is a powerful tool for Lead Prospecting for Business Development and Sales, Email Marketing and Recruitment. HolaConnect can help you build your client or recruit pipeline and grow your business.
                        If you need awesome information about people, our Hola API can serve all your business needs at scale.</p>
                    <p>Have a new idea that can be enriched with our people data and analytics? Contact us at business@holaconnect.com</p>
                </div>
            </div>


        </div>

    </section>
</div>
{{>footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/vendor/js/jquery.carouselTicker.min.js"></script>
<script src="/vendor/js/theme.min.js"></script>
</body>
