<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css">
<link rel="stylesheet" href="/vendor/css/carouselTicker.min.css">
<link rel="stylesheet" href="/vendor/css/theme.min.css">
<link rel="stylesheet" href="/vendor/css/hc-additional.min.css">

<body>
{{>navbar}}
<div id="hola-page">

    <section class="hc-section hc-section-hero hc-section-full hc-parallax-background">
        <div class="hc-table-cell">
            <div class="container">
                <div class="row">
                    <div class="hc-section col-md-12 text-center">
                        <h1 class="hc-section-title display-1" style="font-size:8rem;">{{{statusCode}}}</h1>
                        <p class="hc-section-lead lead">{{{message}}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{>customer}}
{{>footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/vendor/js/jquery.carouselTicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script src="/vendor/js/theme.min.js"></script>
</body>
