<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css">
<link rel="stylesheet" href="/vendor/css/carouselTicker.min.css">
<link rel="stylesheet" href="/vendor/css/theme.min.css">
<link rel="stylesheet" href="/vendor/css/hc-additional.min.css">
<body class="home pricing">
<div id="boxed-layout-pro">
    <div class="menu-default-pro" id="sticky-header-pro">
        {{> navbar}}
    </div>
</div>
<div class="clearfix-pro"></div>
<div class="page-head-pro pricing-page-head-pro">
    <div class="width-container-pro">
        <div class="page-title-pro pricing-page-title-pro">
            <h1>FAQ</h1>
        </div>
    </div>
</div>
<div class="clearfix-pro"></div>
<div id="main">
    <div class="width-container-pro">
        <div id="full-width-progression">
            <div id="content-container">
                <div class="content-page-pro">
                    <p></p>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">What is HolaConnect?</h3>
                        <div class="ls-sc-toggle-container">HolaConnect is our take on what a Lead Generation and
                            Management Tool should look and feel like. The current avatar is a Chrome Extension that
                            integrates seamlessly with your Chrome browser and provides you the contact details for
                            people when you visit their LinkedIn profile pages. What’s more, you can Tag profiles and
                            make notes for each of them and access them from your dashboard later.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">Who should use HolaConnect?</h3>
                        <div class="ls-sc-toggle-container">HolaConnect is a great tool if you need to contact people.
                            If you are generating leads for Sales, identifying people for targeted Marketing efforts,
                            shortlisting people for Recruitment or just improving your Network, HolaConnect is the tool
                            for you. Our basic subscription is free for life (you read that right!) so go ahead and
                            download our extension today.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">There are a few Lead Generation in the market. What makes
                            HolaConnect special?</h3>
                        <div class="ls-sc-toggle-container">HolaConnect goes beyond the traditional lead generation
                            tools currently available. First, Hola provides validated contact details for your search
                            saving you the time and effort involved with using a validating service such as kickbox.
                            Second, it lets you to Tag profiles as well as make Notes, all of which are accessible from
                            a simple dashboard. The dashboard is searchable, sortable and downloadable without any
                            restrictions.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">Where does HolaConnect get its data?</h3>
                        <div class="ls-sc-toggle-container">HolaConnect relies on public sources of information to
                            aggregate data and then uses advanced data analytics to match and present the correct
                            profile information on the extension. Users can tag this data and save it on their
                            dashboards for future reference and use.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">Is the HolaConnect extension available only for Chrome browser
                            users?</h3>
                        <div class="ls-sc-toggle-container">The current version of the HolaConnect extension supports
                            Chrome only. The Mozilla version of the extension is in the pipeline and will be released
                            shortly.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">Is the bronze package really free?</h3>
                        <div class="ls-sc-toggle-container">At HolaConnect we believe in supporting individual
                            entrepreneurs and small businesses. We provide the bronze package - with access to contact
                            details of up to 10 contacts per month - free for life! You can upgrade this to a higher
                            package at any time.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">Can I cancel my plan once I’ve signed up?</h3>
                        <div class="ls-sc-toggle-container">You can cancel your plan at anytime. You will only be billed
                            for the current billing cycle and all future transactions on your account will be halted.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">What happens to my Dashboard and all its stored data (tags,
                            notes) if my subscription period or credits expire?</h3>
                        <div class="ls-sc-toggle-container">If your credits expire but your subscription period is
                            valid, you will be able to access all your Dashboard data. However, if your subscription
                            expires, your Dashboard will stay active for a period of 30 days following which it will be
                            automatically deleted. You will be able to access the dashboard prior to its deletion and
                            download a CSV with all details.
                        </div>
                    </div>
                    <div class="ls-sc-toggle">
                        <h3 class="ls-sc-toggle-trigger">What happens if my subscription expires but I still have unused
                            credits?</h3>
                        <div class="ls-sc-toggle-container">Once your subscription expires, your credits will become
                            void. However, should you choose to renew your subscription, all unused credits will be
                            added to your newly purchased plan.
                        </div>
                    </div>
                    <p>For any queries you may contact us via <a href="">help@holaconnect.com</a></p>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div><!-- close .width-container -->
</div>

<div class="clearfix-pro"></div>

<!-- Scroll to Top -->
<a href="#0" id="pro-scroll-top">Scroll to top</a>
{{> footer}}

</body>