<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
      integrity="sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo=" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css"
      integrity="sha256-1hIhSlowg4vqaFZ/bikPMfEGwSgM0FtIs7mx1PADHCk=" crossorigin="anonymous"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css">
<link rel="stylesheet" href="/vendor/css/spin.min.css">
<link rel="stylesheet" href="/vendor/css/carouselTicker.min.css">
<link rel="stylesheet" href="/vendor/css/theme.min.css">
<link rel="stylesheet" href="/vendor/css/hc-additional.min.css">
<link rel="stylesheet" href="/css/home.min.css">

<style>
    ul.trending {
        /*padding-left: 102px;*/
        font-size: 18px;
    }

    .trending li {
        padding-top: 25px;
    }

    .box {
        border: 1px solid #F6F6F6;
        background-color: #FDFDFF;
    }

    .t-img {
        width: 66px;
        height: 66px;
    }

    .box-text {
        font-size: 1.9rem;
        margin-top: 3.2rem;
        margin-bottom: 2rem;
    }

    .dict-square {
        width: 175px;
        height: 175px;
        background-color: white;

        cursor: pointer;
    }

    .dict-square.designation-box {
        background-image: url('/img/designation.png');
        background-size: 100%;
    }

    .dict-square.location-box {
        background-image: url('/img/city.png');
        background-size: 100%;
    }

    .dict-square.companies-box {
        background-image: url('/img/company.png');
        background-size: 100%;
    }

    .headImg {
        background-image: url('/img/hero-image.png');
        background-repeat: no-repeat;
        width: 40%;
        display: inline-block;
        height: 100%;
        margin-left: 0px;
    }

    .howlist li {
        padding-left: 75px;
    }

    #main-section {
        height: 650px;
        /*background: linear-gradient(45deg, rgba(29, 141, 242, 1) 0, rgba(11, 50, 130, 1) 100%);*/
    }

    .c-text {
        padding-top: 19px;
        padding-left: 46px;
    }

    .head-text {
        padding-left: 10%;
        padding-top: 9%;
        height: 100%;
        width: 60%;
        float: left;

    }

    .head-text .hc-section-title {
        font-size: 37px;
    }

    .main-head {
        height: 100%;
        width: 100%;
    }

    .ul-col {
        float: left;
        margin: 0 20px 0 0;
    }
    .head-text h2{
        font-size: 1.7em;
        color: #fff;

    }

    /*.hc-section-title{*/
    /*margin-bottom: 130px !important;*/
    /*}*/

    #startNow{
   	  height: 44.48px;
        width: 138.8px;
        border-radius: 2px;
        background-color: #19B4FF;
        color: #ffffff;
    }



</style>



<body>
{{>navbar}}
<div id="hola-home">
    <section id="main-section" class="hc-section hc-section-hero  hc-parallax-background hc-section-with-arrow">
        <div class="main-head">

            <div class="head-text h-m-text">
                <h1 class="hc-section-title" style="color: #2D4373;"><b><span id="text-change">Connect with People</span><br> who matter the most to your
                    Business</b></h1>
                <h2 style="color: #2D4373;">HolaConnect is Truecaller for people contact data - we crowd-source and provide access to people's email addresses, phone numbers and social media profiles. Give a little, take a lot.</h2>
                <br>
                <a href="https://dashboard.lusha.co/signup"><button  id="startNow">START NOW</button></a>
            </div>
            <div class=" headImg"></div>

        </div>


        <div class="hc-arrow hc-arrow-floating" aria-hidden="true"><a href="#header1-1"><i class="hc-arrow-icon"></i></a>
        </div>
    </section>
    <section class="hc-section hc-section-hero  hc-parallax-background hc-section-with-arrow"
             id="header1-1">

        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center">


                    <!--~ Copyright (C) 2014 Media.net Advertising FZ-LLC All Rights Reserved-->
                    <script id="mNCC" language="javascript">
                        medianet_width = "728";
                        medianet_height = "90";
                        medianet_crid = "745581178";
                        medianet_versionId = "3111299";
                    </script>


                </div>
                <div class="col-md-12">
                    <div class="find-contact">
                        <h1 class=" display-3 text-center" style="font-weight: 300;color: #4F83EC">Top Profiles </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 box">

                    <h2 class="box-text text-center" style="font-weight: 300">Top Professionals
                    </h2>

                    <div class="ul-col">
                        <ul class="trending" style="list-style: none;">
                            <li>
                                <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                     src="https://d2ojpxxtu63wzl.cloudfront.net/static/38b806e2fb49d2cd877ac35472710683_eba9337c61a3f40bf558e1fca94c5089d4eb5cfa6e14f616b84707f45acbac94"
                                     alt="">

                                <a target="_blank"
                                   href="https://holaconnect.com/profile/sam-barnett-email-phone-3dd29db1">Sam
                                    Barnett</a>

                            </li>
                            <li>
                                <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                     src="https://d2ojpxxtu63wzl.cloudfront.net/static/0d0f18930dae91bbf9620ea3df91a13a_5b41ad00809d854b544b5e1c0b44bd1d1c842447f70886a313f7498801901505"
                                     alt="">

                                <a target="_blank"
                                   href="https://holaconnect.com/profile/girish-mathrubootham-email-phone-3aaec216">Girish
                                    Mathrubootham</a>

                            </li>
                            <li>
                                <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                     src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/000/24d/276/3a9b2af.jpg"
                                     alt="">

                                <a target="_blank"
                                   href="https://holaconnect.com/profile/kieran-oneill-email-phone-0ffa1467">Kieran
                                    O'Neil</a>

                            </li>
                            <li>
                                <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                     src="https://d2ojpxxtu63wzl.cloudfront.net/static/29d506ec921ef4aedd5dd89143e70217_3dc6905d04637cbc62541cb164b6f9c0e1843c661044f59b39368458cb4805f2"
                                     alt="">

                                <a target="_blank"
                                   href="https://holaconnect.com/profile/gaelle-tortuyaux-email-phone-d8ed59dc">Gaelle
                                    Tortuyaux</a>

                            </li>
                            <li>
                                <script id="mNCC" language="javascript">
                                    medianet_width = "336";
                                    medianet_height = "280";
                                    medianet_crid = "640445268";
                                    medianet_versionId = "3111299";
                                </script>

                            </li>
                        </ul>
                    </div>
                    <div class="ul-col">
                        <ul class="trending" style="list-style: none;">
                            <li>
                                <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                     src="https://d2ojpxxtu63wzl.cloudfront.net/static/e728843a77c3ae7a4e7d0860f817ddab_1a08f49c6497d7c57e254a19037e05b437bb8b516da58514d53463c0147de6ec"
                                     alt="">

                                <a target="_blank"
                                   href="https://holaconnect.com/profile/sean-parker-email-phone-db2e695b">Sean
                                    Parker</a>

                            </li>

                            <li>
                                <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                     src="https://d2ojpxxtu63wzl.cloudfront.net/static/486369e11ca0fe153ff19611e204e491_e42bf467ecb86573a5446363f0ddb76c08391d43c4966d91bf404b977b46628d"
                                     alt="">

                                <a target="_blank"
                                   href="https://holaconnect.com/profile/susan-wojcicki-email-phone-95e7fc4e">Susan
                                    Wojcicki</a>

                            </li>
                            <li>
                                <img class="t-img img-fluid rounded-circle profile-pic"
                                     src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/000/28f/278/1695577.jpg"
                                     alt="">

                                <a target="_blank"
                                   href="https://holaconnect.com/profile/bhavish-aggarwal-email-phone-87493c03">Bhavish
                                    Agrawal</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-4 box">
                    <h2 class=" box-text text-center" style="font-weight: 300">Trending Profiles

                    </h2>
                    <ul class="trending" style="list-style: none;">
                        <li>
                            <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                 src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbmAAAAJGY0ZmI5M2IxLWVmMzQtNDk1ZC1hMDg3LTA2NWNhZDhlNzcwYQ.jpg"
                                 alt="">
                            <a target="_blank"
                               href="https://holaconnect.com/profile/mary-song-email-phone-45824946">Mary SONG</a>
                        </li>

                        <li>
                            <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                 src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/005/01c/239/0c75ea8.jpg"
                                 alt="">
                            <a target="_blank"
                               href="https://holaconnect.com/profile/richie-cooper-email-phone-885c13f2">Richie
                                Cooper</a>

                        </li>
                        <li>
                            <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                 src="https://d2ojpxxtu63wzl.cloudfront.net/static/b9e49bfd4c0da6e79d33851761d68887_a8c9b4187cb8fc7fadac44e8aa980c61e964935d6c2c66788d287478394e74cb"
                                 alt="">
                            <a target="_blank"
                               href="https://holaconnect.com/profile/michael-haverkamp-email-phone-d548b2d4">Michael
                                Haverkamp</a>

                        </li>
                        <li>
                            <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                 src="https://d2ojpxxtu63wzl.cloudfront.net/static/36373df213da1683a5037b6d184359e6_e0bd024bc08c0eaaf9ed090a742a86faa1aa306921c4fa84f9e9d6ac6c613861"
                                 alt="">
                            <a target="_blank"
                               href="https://holaconnect.com/profile/melissa-trahan-email-phone-9957a6fb">Melissa
                                Trahan</a>

                        </li>
                        <li>
                            <img class="t-img img-fluid rounded-circle profile-pic" onerror="imgError(this);"
                                 src="https://d2ojpxxtu63wzl.cloudfront.net/static/8db9f331bf108078746d4bb40613d7d6_b6cd006c3ed91e8cdc6d8e4ab199864978b883c9c7c0e3c7c7f10b513d448abf"
                                 alt="">
                            <a target="_blank"
                               href="https://holaconnect.com/profile/kevin-trinh-email-phone-807011c5">Kevin Trinh</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="hc-arrow hc-arrow-floating" aria-hidden="true"><a href="#feature-1"><i
                class="hc-arrow-icon"></i></a>
        </div>

    </section>


    <section id="feature-2" class="hc-section hc-section-hero  hc-parallax-background hc-section-with-arrow">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="find-contact">
                        <h1 class=" display-3 text-center" style="font-weight: 300;color: #4F83EC">Browse
                            Categories</h1>
                    </div>
                </div>
            </div>
            <ul class="howlist row" style="list-style: none;">
                <!--step 1-->
                <li class="col-md-4 col-sm-4">
                    <a href="/directory/city" style="color: black">
                        <div class="dict-square location-box"></div>
                        <h4 class="c-text">Location</h4>
                    </a>

                </li>
                <!--step 1 end-->

                <!--step 2-->
                <li class="col-md-4 col-sm-4" >
                    <a href="/directory/designation" style="color: black">
                        <div class="dict-square designation-box"></div>
                        <h4 class="c-text">Designation</h4>
                    </a>

                </li>
                <!--step 2 end-->

                <!--step 3-->
                <li class="col-md-4 col-sm-4">
                    <a href="/directory/company" style="color: black">
                        <div class="dict-square companies-box"></div>
                        <h4 class="c-text">Company</h4>
                    </a>

                </li>
                <!--step 3 end-->
            </ul>
        </div>

    </section>
</div>
{{#unless userInfo}}
    <div class="hc-upgrade text-lg-center">
        <p style="font-size:1.8rem;margin-bottom:0px;">Create your free account in seconds</p>
        <p style="font-size:1.4rem; margin-bottom:5px;">No Credit Card Required. Free forever!</p>
        <div class="text-lg-center">
            <button onclick="location.href='/login';" class="btn btn-lookup text-uppercase"
                    style="margin-top: 20px; padding: 1rem 2rem !important; font-size: 0.9rem;font-weight: 700;">
                Sign Up
            </button>
        </div>
    </div>
{{/unless}}
{{>customer}}

{{>footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/vendor/js/jquery.carouselTicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script src="/vendor/js/theme.min.js"></script>
</body>
